{%- if block.settings.logo -%}
    {%- assign footer_logo_size = block.settings.desktop_logo_height | prepend: 'x' -%}
    <div class="footer__logo">
        <a href="{{ routes.root_url }}">
            <img src="{{ block.settings.logo | img_url: footer_logo_size, scale: 2 }}" alt="{{ block.settings.logo.alt | default: shop.name }}">
        </a>
    </div>
{%- endif -%}
<div class="footer__disclaimer">
    Any statements have not been evaluated by the Food and Drug Administration.
</div>