<div id="contactSectionOuter" class="section-{{ section.id }}-padding" style="background-color: {{ section.settings.background | default: '#000' }};">
    <div class="page-width  lexend-400">
        <div class="grid">
            <div class="grid__item">

                <div class="grid grid--uniform grid--flush-bottom">

                    <div class="grid__item small--hide one-sixth text-center aos-init aos-animate" data-aos="row-of-3">
                        <div class="image-wrap-outer" style="margin: 0 auto; max-width: 130px;">
                            <div class="image-wrap text-spacing"
                                 style="height: 0; padding-bottom: 56.92307692307692%;"><img
                                        class="lazyautosizes lazyloaded"
                                        data-widths="[180, 360, 540, 720, 900, 1080]"
                                        data-aspectratio="1.7567567567567568" data-sizes="auto" alt=""
                                        data-srcset="//kidneyhood.org/cdn/shop/files/us_based_support_icon_065aa94a-46ca-47c3-985b-aff11e3b13a8_180x.png?v=1743629498 180w, //kidneyhood.org/cdn/shop/files/us_based_support_icon_065aa94a-46ca-47c3-985b-aff11e3b13a8_360x.png?v=1743629498 360w, //kidneyhood.org/cdn/shop/files/us_based_support_icon_065aa94a-46ca-47c3-985b-aff11e3b13a8_540x.png?v=1743629498 540w, //kidneyhood.org/cdn/shop/files/us_based_support_icon_065aa94a-46ca-47c3-985b-aff11e3b13a8_720x.png?v=1743629498 720w, //kidneyhood.org/cdn/shop/files/us_based_support_icon_065aa94a-46ca-47c3-985b-aff11e3b13a8_900x.png?v=1743629498 900w, //kidneyhood.org/cdn/shop/files/us_based_support_icon_065aa94a-46ca-47c3-985b-aff11e3b13a8_1080x.png?v=1743629498 1080w"
                                        sizes="130px"
                                        srcset="//kidneyhood.org/cdn/shop/files/us_based_support_icon_065aa94a-46ca-47c3-985b-aff11e3b13a8_180x.png?v=1743629498 180w, //kidneyhood.org/cdn/shop/files/us_based_support_icon_065aa94a-46ca-47c3-985b-aff11e3b13a8_360x.png?v=1743629498 360w, //kidneyhood.org/cdn/shop/files/us_based_support_icon_065aa94a-46ca-47c3-985b-aff11e3b13a8_540x.png?v=1743629498 540w, //kidneyhood.org/cdn/shop/files/us_based_support_icon_065aa94a-46ca-47c3-985b-aff11e3b13a8_720x.png?v=1743629498 720w, //kidneyhood.org/cdn/shop/files/us_based_support_icon_065aa94a-46ca-47c3-985b-aff11e3b13a8_900x.png?v=1743629498 900w, //kidneyhood.org/cdn/shop/files/us_based_support_icon_065aa94a-46ca-47c3-985b-aff11e3b13a8_1080x.png?v=1743629498 1080w">
                            </div>
                        </div>
                        <div class="icon-desc">US-BASED SUPPORT</div>
                    </div>

                    <div class="grid__item medium-up--four-sixths text-center aos-init aos-animate" data-aos="row-of-3">

                        <div class="contactSection-block" style="background: rgba(0,0,0,0);">
                            <div class="contactSection-block-inner" style="background-color: #ffffff; border: 1px solid #96b8c4; border-radius: 15px;"><div class="guaranteeContentdiv">
                                    <div class="h3 mb-1 text-center lexend-600">
                                        Still Have Questions?
                                    </div>
                                    <div class="section-content">
                                        Our US-Based Support team is available to help. <a id="link-homeContact-contact" href="/pages/contact-us">Contact Us Now</a><br>
                                        Phone: <a id="link-homeContact-tel" href="tel:1-800-441-1045">800-441-1045</a> | Email: <a id="link-homeContact-email" href="mailto:support@kidneyhood.org">support@kidneyhood.org</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="grid__item small--hide  one-sixth text-center aos-init aos-animate" data-aos="row-of-3">
                        <div class="image-wrap-outer" style="margin: 0 auto; max-width: 130px;">
                            <div class="image-wrap text-spacing"
                                 style="height: 0; padding-bottom: 56.92307692307692%;"><img
                                        class="lazyautosizes lazyloaded"
                                        data-widths="[180, 360, 540, 720, 900, 1080]"
                                        data-aspectratio="1.7567567567567568" data-sizes="auto" alt=""
                                        data-srcset="//kidneyhood.org/cdn/shop/files/fda_registered_icon_82e0d5f2-5fb9-4fb4-a5d1-45d706968924_180x.png?v=1743629498 180w, //kidneyhood.org/cdn/shop/files/fda_registered_icon_82e0d5f2-5fb9-4fb4-a5d1-45d706968924_360x.png?v=1743629498 360w, //kidneyhood.org/cdn/shop/files/fda_registered_icon_82e0d5f2-5fb9-4fb4-a5d1-45d706968924_540x.png?v=1743629498 540w, //kidneyhood.org/cdn/shop/files/fda_registered_icon_82e0d5f2-5fb9-4fb4-a5d1-45d706968924_720x.png?v=1743629498 720w, //kidneyhood.org/cdn/shop/files/fda_registered_icon_82e0d5f2-5fb9-4fb4-a5d1-45d706968924_900x.png?v=1743629498 900w, //kidneyhood.org/cdn/shop/files/fda_registered_icon_82e0d5f2-5fb9-4fb4-a5d1-45d706968924_1080x.png?v=1743629498 1080w"
                                        sizes="130px"
                                        srcset="//kidneyhood.org/cdn/shop/files/fda_registered_icon_82e0d5f2-5fb9-4fb4-a5d1-45d706968924_180x.png?v=1743629498 180w, //kidneyhood.org/cdn/shop/files/fda_registered_icon_82e0d5f2-5fb9-4fb4-a5d1-45d706968924_360x.png?v=1743629498 360w, //kidneyhood.org/cdn/shop/files/fda_registered_icon_82e0d5f2-5fb9-4fb4-a5d1-45d706968924_540x.png?v=1743629498 540w, //kidneyhood.org/cdn/shop/files/fda_registered_icon_82e0d5f2-5fb9-4fb4-a5d1-45d706968924_720x.png?v=1743629498 720w, //kidneyhood.org/cdn/shop/files/fda_registered_icon_82e0d5f2-5fb9-4fb4-a5d1-45d706968924_900x.png?v=1743629498 900w, //kidneyhood.org/cdn/shop/files/fda_registered_icon_82e0d5f2-5fb9-4fb4-a5d1-45d706968924_1080x.png?v=1743629498 1080w">
                            </div>
                        </div>
                        <div class="icon-desc">FDA-REGISTERED &amp; USA MADE</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<style>

    #contactSectionOuter {
        border-top: 2px solid #96b8c4;
        border-bottom: 2px solid #96b8c4;
        padding: 20px 0;
    }

    #contactSectionOuter .image-wrap {
        background: transparent;
        margin: 0;
    }

    #contactSectionOuter .section-content {
        padding-bottom: 5px;
        font-size: 16px;
        line-height: 22px;
    }
    #contactSectionOuter .section-content a {
        text-decoration: underline;
        color: #333399;
    }

    #contactSectionOuter .icon-desc {
        font-size: 14px;
        line-height: 15px;
        text-transform: uppercase;
    }

    #contactSectionOuter .contactSection-block-inner {
        padding: 8px;
    }

    #shopify-section-text-columns-bot.index-section {margin: 0 0 30px 0;} #shopify-section-text-columns-bot .image-wrap {background-color: transparent;} #shopify-section-text-columns-bot h3 {font-family: "Lexend", sans-serif; font-weight: 600; font-size: 18px; margin-bottom: 5px;} #shopify-section-text-columns-bot .text-spacing:not(.image-wrap) {padding: 0 15px;} #shopify-section-text-columns-bot .text-spacing p {font-size: 16px; line-height: 1.25;}

</style>

{% schema %}
{
"name": "Contact Section",
"class": "contact-section",
"settings": [
{
"type": "color",
"id": "background",
"label": "Background color"
},
{
"type": "header",
"content": "Section Padding"
},
{
"type": "range",
"id": "padding_top",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "Padding top",
"default": 36
},
{
"type": "range",
"id": "padding_bottom",
"min": 0,
"max": 100,
"step": 4,
"unit": "px",
"label": "Padding bottom",
"default": 36
}
],
"presets": [
{
"name": "Contact Section"
}
]
}
{% endschema %}