<div class="page-content page-full">

    {%- render 'breadcrumbs' -%}

    <div class="rte rte--nomargin">
        <header class="section-header">
            <h1 class="section-header__title text-center">{{ page.title }}</h1>
        </header>
    </div>

    <div class="rte rte--nomargin">
        {{ page.content }}
    </div>

</div>
