<div class="page-content page-full">

    {%- render 'breadcrumbs' -%}

    <div class="rte rte--nomargin">
        <header class="section-header">
            <h1 class="section-header__title text-center">{{ page.title }}</h1>
        </header>
    </div>

    <div class="rte rte--nomargin">
        {{ page.content }}
    </div>

    <!--
        <hr class="hr--small" />

        <div class="page-width py-4">
            <div class="grid">
                <div class="grid__item text-center"><h2>The Goal of a Clinically Proven Program</h2></div>
            </div>
        </div>
    -->

    {% section 'two-columns' %}

    <div class="page-width">
        <div class="custom-content">
            <div class="custom__item one-whole align--center">
                <div class="custom__item-inner custom__item-inner--html">
                    <div class="rte" data-section-id="advanced_content_3rnLKe"
                         data-section-type="featured-content-section">
                        <p style="text-align: center;">
                            <a href="#" class="btn SignUp-btn text-link" id="btn-download_early_data"
                               data-kl-target="X59Mbv">
                                Download early study data
                            </a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid py-4">
            <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
                <div class="rte">
                    <p class="text-size-75 text-center">*Any statements here have not been evaluated by the FDA.&nbsp;&nbsp;Many factors
                        will affect the results of each patient, stage of kidney disease, dietary compliance, type of
                        kidney disease, comorbid conditions and current health are examples of these factors.</p>
                </div>
            </div>
        </div>
    </div>

    <hr class="hr--small" />

    <div class="page-width py-5">
        <div class="grid">
            <div class="grid__item text-center"><h2>2024 Annual Best Practices Review</h2></div>
        </div>
    </div>

    {% section 'text-and-image-alt' %}


</div>

