<div class="page-width page-content">

    {%- render 'breadcrumbs' -%}

    <div class="grid">
        <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

            <header class="section-header">
                <h1 class="section-header__title">{{ page.title }}</h1>
            </header>

            <div class="rte rte--nomargin">
                {{ page.content }}

                <div class="recipes_singup_form">
                    <div class="klaviyo-form-XDEAC8"></div>
                </div>

            </div>

        </div>
    </div>
</div>
<style>
    .recipes_singup_form {
        padding: 7px;
    }
    .recipes_singup_form form > .needsclick.kl-private-reset-css-Xuajs1 {
        width: 50% !important;
        max-width: 100% !important;
    }
    .recipes_singup_form button.needsclick.go3274709999.kl-private-reset-css-Xuajs1 {
        padding: 0px 25px !important;
        font-weight: 700 !important;
    }
    .recipes_singup_form .kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1 .ql-editor.ql-editor.ql-editor{width:96%;}

    @media only screen and (max-width: 768px) {
        .recipes_singup_form form > .needsclick.kl-private-reset-css-Xuajs1:first-child { min-height:200px !important; }
        .recipes_singup_form form{display: block !important; padding:0 !important;}
        .recipes_singup_form form > .needsclick.kl-private-reset-css-Xuajs1 {
            width: 100% !important;
            max-width: 100% !important;
            margin:0 !important;
            display:block !important;
        }
        .recipes_singup_form form input.needsclick.go631026428.kl-private-reset-css-Xuajs1{margin-left:-20px !important;}
    }

</style>