<div class="page-width page-full py-4">

    {%- render 'breadcrumbs' -%}

    <div class="grid">
        <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

            <header class="section-header__title text-center">
                <h1 class="section-header__title">{{ page.title }}</h1>
            </header>

            <div class="rte rte--nomargin">
                {{ page.content }}
            </div>

            {% section 'compare-table' %}


        </div>
    </div>

</div>
